/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #04023f;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: rgba(68, 68, 68, 0.8); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  color: #eee; /* Light text color */
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.App-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

h1 {
  margin: 0;
}

.expense-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #eee; /* Light text color */
}

input {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #555; /* Darker background color */
  color: #eee; /* Light text color */
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #007bff; /* Blue button */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.expense-list {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #555;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee; /* Light text color */
}
